/* utilities */
.bg-green{
  background-color: #1bbc9b;
}

.color-white{
  color: white;
}

.color-black{
  color: black;
}

.star{
  position: relative;
  font-size: 20px;
  padding-bottom: 15px;
}

.-row{
  border-bottom: 2px solid white;
  height: 16px;
}

.b-row{
  border-bottom: 2px solid black;
  height: 16px;
}


/* Navbar */
.navbar-default{
  background-color: #2d3e50;
  margin: 0;
  border-radius: 0;
  border: 0;
}

.navbar-header .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-transform: uppercase;
}

/* Header */


header .col-md-12 img{
  max-width: 200px;
}

header .col-md-12 h1{
  font-size: 50px;
}

header li:nth-child(even)::before {
   content: '-';
   padding-right: 10px;
 }

header li:nth-child(even)::after {
   content: '-';
   padding-left: 10px;

}

/* jumbotron */
.jumbotron{
  background-color: white;
}

/* Portfolio */
#portfolio .container{
  color: #2c3e50;
}

#portfolio .row img {
  margin-bottom: 20px;
  border-radius: 15px;
}

/* About */
#about h2{
  padding-top: 40px;
}

#about p{
  font-size: 20px;
  font-weight: 400;
}

#about .col-lg-12 button{
  margin: 30px 0;
  border: 1px solid white;
}

/* Contact */

#contact h2{
  padding: 20px 0;
}

#contact input,
#contact textarea{
  border-radius: 0;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}

#contact .btn{
  margin-top: 10px;
}

#contact input::-webkit-input-placeholder,
#contact textarea::-webkit-input-placeholder {
  color: #3A556C;
}
/* Main-footer */

#main-footer{
  background-color: #3A556C;
  color: white;
}
#main-footer p{
 font-size: 21px;
}

#main-footer .col-lg-4 h4{
  font-size: 21px;
  font-weight: 300;
}

#main-footer .col-lg-4 h3{
  font-weight: 400;
}

#main-footer .col-lg-4{
  margin-bottom: 20px;
}
#main-footer .list-inline .btn{
  background-color: #3A556C;
  color:white;
  border: 2px solid white;
  border-radius: 50%;
}

#main-footer .list-inline i{
  max-width:10px;
}

/* Bottom footer */

#btm-footer{
  background-color: #2c3e50;
}

#btm-footer h2{
  font-size: 10px;
  padding-bottom: 10px;
  color: white;
}


@media screen and (max-width: 820px){
  /*  about */
  #about p{
    margin: 10px 20px;
  }
  /* contact */

}
